## What are Strings?

The following example shows a string contained within 2 quotation marks:

In [2]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [3]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [4]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [5]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [6]:
# Print the string

print('hello!')

hello!

In [7]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

## Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

In [8]:
# Print the first element in the string

print(name[0])

M

In [9]:
# Print the element on index 6 in the string

print(name[6])

l

In [ ]:
Moreover, we can access the 13th index:

In [11]:
# Print the element on the 13th index in the string

print(name[13])

o

### Negative Indexing

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [12]:
# Print the last element in the string
print(name[-1])

n

In [13]:
# Print the first element in the string

print(name[-15])

M

In [14]:
# Find the length of string

len("Michael Jackson")

15

### Slicing

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">
​

In [15]:
# Take the slice on variable name with only index 0 to index 3

name[0: 4]

'Mich'

In [16]:
# Take the slice on variable name with only index 8 to index 11

name[8: 12]

'Jack'

### Stride

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

In [17]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [18]:
# Get every second element in the range from index 0 to index 4

name[0: 5: 2]

'Mca'

In [19]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [22]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".

In [24]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [25]:
# New line escape sequence

print(" Michael Jackson \t is the best")

 Michael Jackson 	 is the best

In [26]:
# Include back slash in string

print(" Michael Jackson \\ is the best")

 Michael Jackson \ is the best

In [27]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best")

 Michael Jackson \ is the best

In [29]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [30]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace("Michael", "Janet")
b

'Janet Jackson is the best'

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center">

In [31]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [32]:
name.find("Jack")

8

In [34]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [36]:
# Write your code below and press Shift+Enter to execute 
a = "1"

In [38]:
# print the value
"1"

'1'

In [39]:
# Write your code below and press Shift+Enter to execute
b = "2"

In [40]:
# Write your code below and press Shift+Enter to execute 
c = a + b

In [41]:
#type your code here
c

'12'

In [42]:
# Write your code below and press Shift+Enter to execute
d = "ABCDEFG"

In [46]:
d[:3]

# or

d[0:3]

'ABC'

In [50]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'

In [51]:
e[::2]

'correct'

In [52]:
print(r"\\\\\\ ")

# or

print(r"\ ")

\\\\\\
\

In [53]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"

In [54]:
f.upper()

'YOU ARE WRONG'

In [56]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [57]:
g.find("snow")

95

In [59]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'