In [2]:
# Try your first Python output
print("Hello, Python!")

Hello, Python!

In [3]:
# Check the Python Version
import sys

print(sys.version)

3.10.2 (main, Mar 13 2023, 12:11:27) [Clang 16.0.0 (https://github.com/llvm/llvm-project dee009d3b5c71a340eb4ebb3cfb4

In [4]:
# Practice on writing comments
print("Hello, Python!") # This line prints a string
# print("Hi")

Hello, Python!

In [5]:
#Print string as error message
frint("Hello, Python")

<class 'NameError'>: name 'frint' is not defined

In [8]:
# Try to see built-in error message
print("Hello, Python!)

<class 'SyntaxError'>: unterminated string literal (detected at line 2) (2096431225.py, line 2)

In [9]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed"")

<class 'SyntaxError'>: unterminated string literal (detected at line 5) (346971570.py, line 5)

In [12]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello, World!")

Hello, World!

In [15]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

print("Hello, World") # Print the traditional hello world

Hello, World

In [19]:
# Integer

11

11

In [18]:
# Float

2.14

2.14

In [20]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [22]:
# Type of 12

type(12)

int

In [23]:
# Type of 2.14

type(2.14)

float

In [24]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [25]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

### Integers

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [26]:
# Print the type of -1

type(-1)

int

In [27]:
# Print the type of 4

type(4)

int

In [28]:
# Print the type of 0

type(0)

int

In [30]:
# Print the type of 1.0

type(0.1) # Notice that 1 is an int, and 1.0 is a float

float

In [31]:
# Print the type of 0.5

type(0.5)

float

In [32]:
# Print the type of 0.56

type(0.56)

float

In [33]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [34]:
# Verify that this is an integer

type(2)

int

In [35]:
# Convert 2 to a float

float(2)

2.0

In [36]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [37]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [38]:
# Convert a string into an integer

int('1')

1

In [39]:
# Convert a string into an integer with error

int('1 or 2 people')

<class 'ValueError'>: invalid literal for int() with base 10: '1 or 2 people'

In [41]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [43]:
# Convert an integer to a string

str(1)

'1'

In [44]:
# Convert a float to a string

str(1.2)

'1.2'

### Boolean data type

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [45]:
# Value true

True

True

In [46]:
# Value false

False

False

In [47]:
# Type of True

type(True)

bool

In [48]:
# Type of False

type(False)

bool

In [50]:
# Convert True to int

int(True)

1

In [51]:
# Convert 1 to boolean

bool(1)

True

In [52]:
# Convert 0 to boolean

bool(0)

False

In [53]:
# Convert True to float

float(True)

1.0

In [54]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

type(6 / 2) # float

float

In [57]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

type(6 // 2) # int, as the double slashes stand for integer division

int

In [58]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [61]:
# Subtraction operation expression

50 - 60

-10

In [63]:
# Multiplication operation expression

5 * 5

25

In [64]:
# Division operation expression

25 / 5

5.0

In [65]:
# Division operation expression

25 / 6

4.166666666666667

In [66]:
# Integer division operation expression

25 // 6

4

In [70]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

160 / 60

# Or 

160 // 60

2

In [71]:
# Mathematical expression

30 + 2 * 60

150

In [72]:
# Mathematical expression

(30 + 2) * 60

1920

In [73]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [74]:
# Print out the value in variable

x

160

In [75]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [76]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [77]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [79]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [80]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60 # Total hours in a single expression
total_hours

2.3666666666666667

In [87]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

x = 3 + 2 * 2
x

7

In [88]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

y = (3 + 2) * 2
y

10

In [89]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

z = x + y
z

17